#upperLayer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center; /* centers horizontally */
  align-items: center;     /* centers vertically */
}

#main-container {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.box_container{
    display: flex;
    justify-content: space-between;
    border-color: black;

}
#box{
    display: flex;
    justify-content: center;
    border: solid;
    border-color:black ;
    height: 25px;
    width: 12%;
}
#gen_pin{
    margin-top:   10px;
}

