    .overlay{display: flex;
    height: 100vh;
    align-items: baseline;
    border: solid;
        font-size: larger;
}
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    margin-left: 10em;
}
.button{
    border: none;
    padding: 12px;
    border-radius:8px ;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
    padding: 12px 12px;
    margin: 2px;
    background-color: green;
    color: white;
}
input[type="number"] {
  padding: 10px 15px;
  width: 300px;
  font-size: 16px;
  border-radius: 8px; 
  border: 1px solid #ccc; 
  box-sizing: border-box;
  transition: all 0.3s ease; 
}
input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}