    .overlay{display: flex;
    height: 100vh;
    align-items: baseline;
    border: solid;

}
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    margin-left: 10em;
    gap: 10px;
}
.button{
    border: none;
    padding: 12px;
    border-radius:8px ;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
    padding: 12px 12px;
    margin: 2px;
    background-color: green;
    color: white;
}
.mid-input-box {
  width: 300px;  /* or a percentage, e.g., 100% */
  font-size: 16px;
  padding: 10px;
  align-items: baseline;
  justify-items: baseline;
}